N8N_WORKFLOW.json
{
  "name": "Transport Bid Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bid-created",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "carrier_contacts",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active",
              "value": true
            }
          ]
        }
      },
      "name": "Get Active Carriers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [470, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "to": "={{ $json.mobile_number }}",
        "message": "=🚛 *New Transport Bid Available*\n\n*Bid ID:* {{ $node[\"Webhook\"].json[\"body\"][\"bid_number\"] }}\n\n📦 *Shipment Details:*\n• Material: {{ $node[\"Webhook\"].json[\"body\"][\"material\"] }}\n• Weight: {{ $node[\"Webhook\"].json[\"body\"][\"weight\"] }} tons\n• Route: {{ $node[\"Webhook\"].json[\"body\"][\"origin\"] }} → {{ $node[\"Webhook\"].json[\"body\"][\"destination\"] }}\n• Pickup: {{ $node[\"Webhook\"].json[\"body\"][\"pickup_date\"] }}\n\n💰 Submit your best offer:\n{{ $node[\"Webhook\"].json[\"body\"][\"bid_link\"] }}\n\n⏰ Bidding closes at 6:00 PM IST today\n\n---\nQuestions? Reply to this message",
        "options": {}
      },
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [910, 300],
      "credentials": {
        "whatsappApi": {
          "id": "2",
          "name": "WhatsApp Business account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get Active Carriers", "type": "main", "index": 0}]]
    },
    "Get Active Carriers": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [[{"node": "Send WhatsApp", "type": "main", "index": 0}]]
    },
    "Send WhatsApp": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    }
  }
}
